extends ../_layout

block content
  h2 Posts
  ul
    for post in posts
      li
        a(href=`/ja/posts/${post.id}.html`)= post.titles.ja
        | &nbsp;–&nbsp;
        span.strong= post.posted
        | &nbsp;
        span.text-muted (modified:&nbsp; #{post.modified})
  h2 PDF files
  ul
    for pdf in pdfs
      li
        a(href=`/public/pdf/${pdf.id}.pdf`)= pdf.title
        | &nbsp;–&nbsp;
        span.strong= pdf.created
        | &nbsp;
        span.text-muted (modified:&nbsp; #{pdf.modified})
