doctype html
block vars
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@pecorarista')
    meta(name='twitter:creator', content='@pecorarista')
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content=description)
    meta(name='twitter:image', content=thumbnail)
    title= title
    block stylesheets
      include _stylesheets.pug
  body
    header
      include _navbar.pug
    main
      .container
        block content
    footer
      include _footer.pug
    block scripts
      include _scripts.pug
